//colors
$pink-a: #ef427c;
$pink-b: #b41c8b;
$blue-a: #1ecbf4;
$blue-b: #194dc3;
$blue-primary: #1592e6;
$occupied: #6200ee;
$text-white: #e2dada;
$dark: rgb(197, 193, 193);
$green-a: #ccff66;
$green-b: #2a8b4e;

$gradient-pink: linear-gradient($pink-a, $pink-b);
$gradient-blue: linear-gradient($blue-a, $blue-b);
$gradient-green: linear-gradient($green-a, $green-b);

//paddings
$padding-primary: 1.2rem;
$padding-big: 2rem;
$padding-small: 0.5rem;
$padding-xsmall: 0.25rem;
$padding-x: 0 1.2rem;
$padding-small-x: 0 0.5rem;
$padding-y: 1.2rem 0;
$padding-small-y: 0.5rem 0;

//margin

$margin-primary: 1.2rem;
$margin-big: 2rem;
$margin-small: 0.3rem;
$margin-x: 0 1.2rem;
$margin-small-x: 0 0.3rem;
$margin-y: 1.2rem 0;
$margin-small-y: 0.3 0;
$margin-big-x: 5rem 0;
//fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:500|Roboto&display=swap");

$font-head: "Montserrat", Arial, Helvetica, sans-serif;
$font-sub: "Roboto", Arial, Helvetica, cursive, sans-serif;

//constans
.ml-2 {
  margin-left: 2rem;
}
.ml-1 {
  margin-left: 1rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.margin-primary {
  margin: $margin-primary;
}
.margin-small-x {
  margin: $margin-small-x;
}
.margin-big-x {
  margin: $margin-big-x
}
.margin-y {
  margin: $margin-y;
}
.to-right {
  float: right;
}
.centered {
  width: 100%;
  margin-left: 0 auto;
  text-align: center;
}
.padding-small {
  padding: $padding-small;
}
//statuses
.success {
  color: rgb(161, 230, 161);
}
.danger {
  color: rgb(250, 156, 156);
}

.gradient-blue {
  background: $gradient-blue;
}
.gradient-pink {
  background: $gradient-pink;
}
.gradient-green {
  background: $gradient-green;
}
.gradient-dark {
  background: $dark;
}
