//colors
$pink-a:#EF427C;
$pink-b:#B41C8B;
$blue-a:#1ECBF4;
$blue-b:#194DC3;
$blue-primary:#1592E6;
$occupied:#6200EE;

$gradient-primary: linear-gradient($pink-a,$pink-b);

//paddings
$padding-primary: 1.2rem;
$padding-big: 2rem;
$padding-x: 0 1.2rem;
$padding-y: 1.2rem 0;