.nav {
  background: $gradient-blue;
  padding: $padding-primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

//hamburger
.hamburger-container {
  display: flex;
}
.hamburger__checkbox {
  visibility: hidden;
}

.hamburger {
  width: 30px;
  height: 2px;
  background: $pink-b;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: auto 0;
  transition: 0.5s;
  position: relative;
  z-index: 50;
  align-self: center;
}

.hamburger:before,
.hamburger:after {
  content: "";

  position: absolute;
  width: 30px;
  height: 2px;
  background: $pink-b;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburger:before {
  top: -8px;
}

.hamburger:after {
  top: 8px;
}

//hamburger open
.hamburger.active {
  background: rgba($color: #000000, $alpha: 0);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0);
}
.hamburger.active:after {
  top: 0;
  transform: rotate(40deg);
}
.hamburger.active:before {
  top: 0;
  transform: rotate(140deg);
}

// Hamburger modal
.hamburger--small {
  width: 15px;
  height: 10px;
  border-bottom: 3px solid $dark;
  &:before {
    height: 3px;
    background: $dark;
  }
  &:after {
    height: 3px;
    background: $dark;
  }
}
//navbar open sidebar
.sidebar__overlay {
  background: rgba($blue-primary, 0.5);
  opacity: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  position: absolute;
  transition: opacity 500ms ease-in-out;
}
.sidebar__overlay.active {
  opacity: 1;
  z-index: 1;
}
.sidebar {
  //style the background
  width: 200px;
  height: 100%;
  background: $gradient-blue;
  right: 0;
  position: fixed;
  transform: translate(100%);
  z-index: 1000;
  transition: transform 350ms ease-in-out;

  //place the content
  display: grid;
  grid-template-columns: 1fr;
  padding: $padding-primary;
  align-content: top;
  justify-items: center;
  grid-gap: 1rem;
  transition: color 350ms ease-in-out;
}
.sidebar.active {
  transform: translate(0);
}

.sidebar__link:hover,
.sidebar__link:focus {
  color: $pink-b;
}
//avatar
.avatar {
  display: flex;
  align-items: center;
}
.avatar__image {
  //round avatar
  border-radius: 50%;
  height: 50px;
  background: white;
  width: 50px;
  display: block;
  overflow: hidden;
}

//filter component
//////////////////////////////////////////////////////////////

.filter-bar {
  padding: $padding-xsmall;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
//calendar
.cal-controls {
  transition: transform 350ms ease-in-out;
}
.cal-controls:hover,
.cal-controls:focus {
  transform: scale(1.2);
}
.react-calendar {
  position: absolute;
  z-index: 2;
  right: 25%;
  @include respond-to(handhelds) {
    right: inherit;
  }
}
//room component
.room {
  margin: $margin-y;
  border-radius: 10px;
  padding: 0.2rem 1.4rem;
  color: white;
  display: grid;
  grid-template-columns: 47% 1fr 47%;
  justify-content: center;
  align-items: center;
}
.set-clean {
  margin-left: 2rem;
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
  display: inline-block;
  box-shadow: 1px 1px 3px darken($blue-primary, 20%);
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
  min-width: 60px;
  cursor: pointer;
  img {
    display: inline-block;
  }
}
.room__col--right {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 25%) 20%;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . o o "
    "r r r r"
    "c c c c"
    "n n n n";
}
.occupancy {
  grid-area: o;
  background: $blue-primary;
  border-radius: 20px;
  width: 100%;
  text-align: center;
  padding: 0.1rem 0;
  align-self: center;
}
.reservation {
  grid-area: r;
  padding: $padding-small;
  margin-top: 1rem;
  @include respond-to(handhelds) {
    font-size: 0.8rem;
  }
  @include respond-to(narrow) {
    padding: 0;
    margin-top: 0.5rem;
  }
}
.clean {
  grid-area: c;
  margin-top: 0.5rem;
}

.note {
  grid-area: n;
}

//set room clean
