//button styles
.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
}
.btn--white {
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: none;
  transition: box-shadow 350ms;
}
.btn--dark {
  color: $dark;
  border: 1px solid $dark;
  border-radius: 4px;
  box-shadow: none;
  transition: box-shadow 350ms, color 350ms ease;
}

.btn--white:hover,
.btn--white:focus {
  box-shadow: 1px 1px 3px white;
}
.btn--dark:hover,
.btn--dark:focus {
  box-shadow: 1px 1px 3px $dark;
  color: black;
}

.nooverflow {
  overflow-y: none;
}

//TYPOGRAPHY
h1,
h2,
h3,
h4,
h5 {
  font-family: $font-head;
}
p,
i,
span,
body {
  font-family: $font-sub;
  line-height: 1.3;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.3rem;
}
.text-white {
  color: $text-white;
}
.text-big {
  font-size: 1.4rem;
  font-weight: bold;
}
.sm-text-1 {
  @include respond-to(handhelds) {
    font-size: 0.8rem;
  }
}
.sm-text-05 {
  @include respond-to(handhelds) {
    font-size: 0.5rem;
  }
}
//text bold
.bold {
  font-weight: bolder !important;
}
//text white
.white {
  color: rgb(235, 232, 232);
}
//text pink
.pink {
  color: lighten($pink-b, 40%);
}
//text small
.small {
  font-size: 0.8rem;
  @include respond-to(handhelds) {
    font-size: 0.6rem;
  }
}
.hover {
  transition: color 350ms ease-in-out;
}
.link-hover--pink:hover {
  color: $pink-b;
}

//container
.container {
  padding: $padding-primary;

  @include respond-to(handhelds) {
    padding: $padding-small;
    margin: $margin-small;
    width: auto;
  }
  width: 50%;
  margin: auto;
}
.rounded {
  border-radius: 15px;
}
.shadow {
  box-shadow: 1px 1px 4px 1px $dark;
}

.hor-line {
  height: 75px;
  width: 1px;
  display: block;
  /* border-left: 1px solid rgba(155, 138, 138, 0.562); */
  background: linear-gradient(
    transparent,
    rgba(151, 150, 150, 0.815),
    transparent
  );
  position: relative;
  &:before {
    content: "";
    width: 1px;
    height: 33%;
    background: linear-gradient(
      transparent,
      rgba(247, 243, 243, 0.247),
      transparent
    );
    position: absolute;
    top: 33%;
    right: 0px;
  }
}

//sort down arrow
.down-arrow {
  color: darken($dark, 30%);
  width: 15px;
  height: 15px;
  transition: transform 360ms ease-in-out;
}
.down-arrow:hover,
.down-arrow:focus .down-arrow > path {
  transform: rotate(-180deg) translate(0, -35%);
}

//loader
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

//border
.border {
  border: 1px solid $dark;
}

//forms and inputs
.form {
  display: grid;
  grid-template-columns: 1fr;
  width: 50%;
  grid-gap: 1rem;
  @include respond-to(handhelds) {
    align-items: center;
  }
  margin: auto;
  justify-content: center;
  align-items: flex-start;
}

.input-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
}

//alert
.alert {
  color: black;
  text-align: center;
  width: 100%;
  margin: 1rem 0;
  position: fixed;
}
.alert-danger {
  border: 1px solid red;
  color: red;
  background: rgba($pink-b, 0.2);
}
.alert-success {
  border: 1px solid green;
  color: green;
  background: rgba(green, 0.2);
}
