//navbar
.nav {
  background: $gradient-primary;
  padding: $padding-primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//avatar
.avatar {
  display: flex;
  align-items: center;
}
.avatar__image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
  display: block;
  overflow: hidden;
}

//hamburger

.hamburger {
  width: 30px;
  height: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 3px solid $blue-primary;
  border-radius: 2px;
  position: relative;
}
.hamburger__line {
  display: block;
}
.hamburger::before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  background: $blue-primary;
}
.hamburger::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  background: $blue-primary;
  top: 50%;
}
.hamburger__checkbox {
  visibility: hidden;
}

//button styles
.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}
.btn--white {
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: none;
  transition: box-shadow 350ms;
}

.btn:hover,
.btn:focus {
  box-shadow: 1px 1px 3px white;
}

//TYPOGRAPHY
h1,
h2,
h3,
h4,
h5 {
  font-family: $font-head;
}
p,
i,
span,
body {
  font-family: $font-sub;
  line-height: 1.3;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.3rem;
}

.text-white {
  color: $text-white;
}
.sm-text-1 {
  @include respond-to(handhelds) {
    font-size: 0.8rem;
  }
}
//text bold
.bold {
  font-weight: bolder !important;
}
//text white
.white {
  color: rgb(235, 232, 232);
}
//text small
.small {
  font-size: 0.8rem;
  @include respond-to(handhelds) {
    font-size: 0.6rem;
  }
}

//container
.container {
  padding: $padding-primary;
  margin: $margin-primary;
  @include respond-to(handhelds) {
    padding: $padding-small;
    margin: $margin-small;
  }
}

.room {
  background: $gradient-primary;
  margin: $margin-y;
  border-radius: 10px;
  padding: 0.2rem 1.4rem;
  color: white;
  display: grid;
  grid-template-columns: 47% 1fr 47%;
  justify-content: center;
  align-items: center;
}
.room__col--right {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 25%) 20%;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . o o "
    "r r r r"
    "c c c c"
    "n n n n";
}
.occupancy {
  grid-area: o;
  background: $blue-primary;
  border-radius: 20px;
  width: 100%;
  text-align: center;
  padding: 0.1rem 0;
  align-self: center;
}
.reservation {
  grid-area: r;
  padding: $padding-small;
  margin-top: 1rem;
  @include respond-to(handhelds) {
    font-size: 0.8rem;
  }
  @include respond-to(narrow) {
    padding: 0;
    margin-top: 0.5rem;
  }
}
.clean {
  grid-area: c;
}

.note {
  grid-area: n;
}

.hor-line {
  height: 75px;
  width: 1px;
  display: block;
  /* border-left: 1px solid rgba(155, 138, 138, 0.562); */
  background: linear-gradient(
    transparent,
    rgba(151, 150, 150, 0.815),
    transparent
  );
  position: relative;
  &:before {
    content: "";
    width: 1px;
    height: 33%;
    background: linear-gradient(
      transparent,
      rgba(247, 243, 243, 0.247),
      transparent
    );
    position: absolute;
    top: 33%;
    right: 0px;
  }
}
